# Node modules
node_modules/
rerisnap-website/node_modules/

# Environment files
.env
rerisnap-website/.env
functions/.env  # 如果你的 Netlify 函数单独有 env 文件

# Logs
*.log

# Build outputs
dist/
rerisnap-website/dist/

# OS / IDE files
.DS_Store
*.swp
.vscode/
.idea/

# Optional: Mac / Windows temporary files
Thumbs.db
Desktop.ini

# Local Netlify folder
.netlify
